<header>
  {{page-title "EmberPhotoGallery"}}
</header>

<main>
  {{outlet}}
</main>

<footer>
  <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
    <img src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Deploys by Netlify" />
  </a>
</footer>